*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
}
header{
height:100vh;
}

.nav-container{
width: 80%;
margin-inline: auto;
 /* margin-block : 20px *   top and bottom */
}

.logo{
    width: 100px;
}